@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding-top: 12px;
}
#root {
  /* The ancestors of the map element */
  height: 100%;
}

#map {
  /* The id of the container you passed to createMap */
  height: 40vh;
  width: 40vw;
  margin: auto;
}
* * {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
}
.pageTitle {
  background: #b5dfeb;
  width: 182px;
  height: 50px;
}
.pageTitleText {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.headerBackButton {
  width: 167px;
  height: 50px;
  background: #009ddc;
}
.headerBackButton:active,
.headerBackButton:hover {
  background: #005e84;
}
.headerBanner {
  background: #e6f4f8;
}

.headerBackText {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.bookingForm {
  background: #efeff0;
}
.submitButton {
  width: 167px;
  height: 50px;
  color: #ffffff;
  background: #009ddc;
}
.submitButton:active,
.submitButton:hover {
  background: #005e84;
}
.searchBar {
  background: #efeff0;
}
.searchBarButton {
  width: 167px;
  height: 50px;
  background: #009ddc;
  color: #ffffff;
}
.searchBarButton:active,
.searchBarButton:hover {
  background: #005e84;
}
.car {
  background: #efeff0;
}
.availableIndicatorFalse {
  width: 30px;
  height: 30px;
  background: #ff0000;
}
.availableIndicatorTrue {
  width: 30px;
  height: 30px;
  background: #40ff00;
}
.altBackground {
  background: #e6f4f8;
}
.carouselButton {
  border-radius: 25px;
  height: 50px;
  padding: 5px;
  color: #efeff0;
  background: #009ddc;
}

.carouselButton:active,
.carouselButton:hover {
  background: #005e84;
}
.title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 24px;
}
