@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding-top: 12px;
}

* * {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
}
.pageTitle {
  background: #e6f4f8;
  width: 182px;
  height: 50px;
}
.pageTitleText {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.headerBackButton {
  width: 167px;
  height: 50px;
  background: #009ddc;
}
.headerBackButton:active,
.headerBackButton:hover {
  background: #005e84;
}

.headerBackText {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.bookingForm {
  background: #efeff0;
}
.submitButton {
  width: 167px;
  height: 50px;
  color: #efeff0;
  background: #009ddc;
}
.bookCarButton:active,
.bookCarButton:hover {
  background: #005e84;
}
